@import url(style.css);

#goTopBtn {
    display: none;
    position: fixed;
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--ferrari);
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    text-align: center;
    transition: 0.5s;
}

#goTopBtn:hover {
    background-color: var(--blood);
    transform: translateY(-5px);
}