@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/*===== Reset CSS =====*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*===== Custom Colors =====*/

:root {
    --black: #191919;
    --blood: #c80000;
    --dark-blood: #960000;
    --ferrari: #ff0000;
    --white: #ffffff;
}

/*===== Custom Scrollbar =====*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--ferrari);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blood);
}

::-webkit-scrollbar-thumb:active {
    background: var(--dark-blood);
}

::-webkit-scrollbar-track {
    background: #fff;
}

/*===== Responsive =====*/

@media screen and (max-width: 700px) {

    .header .nav {
        width: 100%;
        flex-direction: column;
    }

    section .section-title h2.title {
        align-items: center;
    }

    #cars h3 {
        text-align: center;
    }

    #cars .cars-list .car .car-header {
        align-items: center;
    }

    #cars .cars-list .car .car-content {
        flex-direction: column !important;
        align-items: center;
    }

    #cars .cars-list .car .car-content img {
        height: 250px !important;
        width: 250px !important;
    }

    #cars .cars-list .car .car-content .car-infos {
        margin: 0 !important;
        display: flex;
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
    }

}

@media screen and (max-width: 1050px) {

    .header {
        flex-direction: column;
        justify-content: center;
    }

    #cars .cars-list .car {
        align-items: center;
    }

    #cars .cars-list .car .car-header {
        align-items: center;
    }

    #cars .cars-list .car .car-content {
        flex-direction: column !important;
        align-items: center;
    }

}

/*===== CSS =====*/

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

header .logo-container {
    position: relative;
    padding: 30px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

header .logo {
    position: relative;
    height: auto;
    width: auto;
    padding-left: 15px;
    border-left: 5px solid var(--ferrari);
    color: #fff;
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

header .nav {
    display: flex;
    flex-direction: row;
}

header ul {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li {
    margin: 20px 30px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: var(--white);
    white-space: nowrap;
}

header ul li a:hover {
    color: var(--white);
    border-bottom: 3px solid var(--ferrari);
}

/* Main */
h2 {
    padding-bottom: 20px;
    font-size: 2.5em;
    font-weight: 600;
}

section {
    position: relative;
    min-height: 100vh;
}

section .section-title {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

section .underline {
    position: relative;
    width: 100px;
    border-bottom: 5px solid var(--ferrari);
}

section h3 {
    padding-bottom: 20px;
    font-size: 2em;
    font-weight: 500;
}

section p {
    margin: 1em 0;
    color: #fff;
    font-size: 1em;
    line-height: 1.5em;
}

/* Home section */
#home {
    width: 100%;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(https://64.media.tumblr.com/b06434f6de7b80596d236ca1301a2c5e/tumblr_ozs1t9KgdE1wdzl84o1_500.gifv);
    background-size: cover;
    background-repeat: no-repeat;
}

#home:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top, var(--black), transparent);
    z-index: 1000;
}

/* About section */
#about {
    padding: 50px;
    display: block;
    background-color: var(--black);
    color: var(--white);
}

#about p {
    text-align: justify;
}

/* Cars section */
#cars {
    padding: 50px;
    display: block;
    background-color: var(--white);
    color: var(--black);
}

#cars .section-title {
    margin: 0;
}

#cars h3 {
    padding-bottom: 30px;
    text-transform: uppercase;
}


#cars h4 {
    font-size: 1.25em;
    font-weight: 400;
}

#cars p {
    color: var(--black);
}

#cars a {
    text-decoration: none;
    color: var(--blood);
}

#cars a:hover {
    color: var(--ferrari);
}

#cars a:visited {
    color: var(--ferrari);
}

#cars .cars-list .car {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
}

#cars .cars-list .car .car-header {
    width: 100%;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}

#cars .cars-list .car .car-content {
    display: flex;
    flex-direction: row;
}

#cars .cars-list .car .car-owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: uppercase;
}

#cars .cars-list .car .car-owner .fa-instagram {
    height: auto;
    width: 20px;
    margin-right: 5px;
}

#cars .cars-list .car .car-content img {
    max-height: 400px;
    max-width: 400px;
    margin: 30px;
    border: 5px solid var(--ferrari);
    border-radius: 15px;
}

#cars .cars-list .car .car-content .car-infos {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

#cars .cars-list .car .car-content .car-infos p {
    margin: 0 0 1em 0;
    text-align: justify;
}

/* Contact section */
#contact {
    min-height: 100vh;
    padding: 50px;
    display: block;
    background-color: var(--black);
    color: var(--white);
}

#contact .form-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .contact-form {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contact .contact-form .form-field {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .contact-form .form-field input {
    width: 100%;
    padding: 20px;
    border: 0;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

#contact .contact-form .form-field textarea {
    width: 100%;
    padding: 20px;
    overflow: hidden;
    resize: none;
    border: 0;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

#contact .contact-form .form-field .btn-submit {
    width: 200px;
    padding: 20px;
    background-color: var(--ferrari);
    color: var(--white);
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25em;
    font-weight: 600;
    transition: 0.2s;
    text-transform: uppercase;
}

#contact .contact-form .form-field .btn-submit:hover {
    cursor: pointer;
    background-color: var(--blood);
}

#contact .contact-form .form-field .btn-submit:active {
    cursor: progress;
    background-color: var(--dark-blood);
    transform: scale(0.95);
}

/* Footer */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
}

footer .logo-container {
    position: relative;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

footer .logo {
    position: relative;
    height: auto;
    width: auto;
    padding-left: 15px;
    border-left: 5px solid var(--ferrari);
    color: var(--black);
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

footer .social {
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
}

footer .social a {
    margin-left: 30px;
    color: var(--black);
    font-size: 1.5em;
}

footer .social a:hover {
    color: var(--ferrari);
}